#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#main-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #350';
}

#new-Case {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

#case-list {
  list-style: none;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
}

#case {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}